// Variables
$primary-bg-color: #f8f9fa;
$font-family: "Calibri";
$text-color: #36454f;
$link-color: #008b8b;
$highlight-color: #d89aad;
$dark-bg-color: #008b8b;
$light-bg-color: #ffffff;
$cta-button-bg-color: #008b8b;
$cta-button-hover-color: #008b8bac;

// Reusable styles
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-start {
    display: flex;
    justify-content: center;
    align-items: start;
}

// Base styles
body {
    background-color: $primary-bg-color;
    font-family: $font-family;
}

header {
    background-color: $light-bg-color;
    padding: 20px 0;
}

a {
    color: $link-color;
}

.center-container {
    margin: auto;
    text-align: center;

    h3 {
        text-align: center;
    }
}

img {
    max-width: 100%;
}

.container-padding {
    padding-top: 100px;
}

.item-padding {
    padding: 20px;
}

.bottom-padding {
    padding-bottom: 20px;
}

.left-padding {
    padding-left: 20%;
}

.pink-container {
    background-color: #d89aad;
    border-radius: 10px;
}

.service {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    background-color: $link-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $cta-button-hover-color;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
    }
}

.service-icon {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.white-container {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
}

.contact {
    background-color: $light-bg-color;
    border-radius: 10px;
    height: 100%;
}

.cta-button {
    background-color: $cta-button-bg-color;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;

    &:hover {
        background-color: $cta-button-hover-color;
    }
}

.top-title {
  margin: 0;
  font-size: 2rem;
  color: #555;
}

.btn-outline {
    border: 2px solid $light-bg-color;
}

.btn-highlight:focus {
    outline: 30px solid #ff0000;
}

.success-message {
    color: black;
}
  
.error-message {
    color: red;
    font-weight: bold;
}  

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.modal-title {
    font-size: 18px !important;
    font-weight: bold !important;
}

.modal-subtitle {
    font-size: 18px !important;
}

.modal-label {
  position: sticky;
  top: 0;
  font-size: 12px !important;
  padding-bottom: 5px;
}

.modal-button {
    font-size: 12px !important;
}

.contact-info {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
  background-color: $link-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-decoration: none;
  text-align: left;
}

.service-info {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
  background-color: $highlight-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.header-message {
    color: $highlight-color;
    background-color: $dark-bg-color;
    font-weight: bold;
    text-align: center;
    padding: 10px;

    h3 {
        font-weight: bold;
        font-size: 18px;
    }
}

.header-image-container {
    @extend .flex-center;
    padding: 0;
    margin: 0;
    height: 40vh;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        border-radius: 10px;
    }
}


.header-phone-number {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
        font-size: 20px;
        font-weight: bold;
        margin-right: 15px;

        &.nav-link:hover {
            text-decoration: underline;
        }
    }
}

footer {
    background-color: #36454f;
    color: #fff;
    text-align: center;
    padding: 10px 0;

    p {
        margin: 0;
    }
}

.yellow-gradient {
    border-radius: 20px;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.green-gradient {
    border-radius: 20px;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #008b8b 0%, #008b8b 25%, #008b8b 40%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
}
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

// Table styles
.plans-table {
    background-color: #f8f8f8;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-top-row {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .table-no-border {
    border: none;
  }
  
  // Table header styles
  .table-header-cell {
    padding: 1rem;
    color: #555;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .table-top-title {
    margin: 0;
    font-size: 2rem;
    color: #555;
  }
  
  .table-top-subtitle {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Bell MT';
    color: #888;
    display:block;
    padding-left: 8rem;
  }

  .table-top-popular {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Bell MT';
    color: #888;
    display:block;
  }
  
  .table-top-right {
    flex-grow: 1;
    text-align: right;
  }
  
  // Table content styles
  .table-cell {
    padding: 1rem;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
  }

  .table-cell-center {
    padding: 1rem;
    color: #333;
    font-size: 1rem;
    vertical-align: middle;
    text-align: center;
  }


  .table-icon {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
  
  .plan-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #555;
  }
  
  .table-text {
    font-size: 1rem;
    font-family: 'Bell MT';
    color: #888;
  }

  .highlight-cell {
    background-color: #d89aad;
  }

@media (max-width: 768px) {
  .table-icon {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  .table-header-cell {
    display: none;
  }

  .table-text {
    display: none;
  }

  .header-message p {
      font-size: 16px;
  }

  .header-image-container {
      @extend .flex-center;
      padding-top: 10px;
      margin: 0;
      height: 15vh;
      overflow: hidden;
  
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          border-radius: 10px;
      }
  }

  h2,
  h3 {
      font-size: 18px;
  }

  p {
      font-size: 14px;
  }

  .center-container h3 {
      font-size: 16px;
  }
}